@charset "UTF-8";

@import url(reset.css);
@import url(font.css);


// 변수, 믹스인, 인클루드
@mixin baseFont {
	font-family: 'SUIT';
	font-weight: 400;
}
@mixin sectionArea {
	height: 100%;
	position: relative;
}
@mixin absoluteCon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


body {
	color: #222;
	@include baseFont;
}
.wrap {
	height: 100%;
}



/********************************************
	팝업
********************************************/
#popup {	
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	transform: translate(0, -100%);
	transition: 0.8s;
	color: #fff;

	&.on {
		transition: 0.8s;
		transform: none;
	}
	
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.5;
	}
	.pop_content {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 600px;
		z-index: 999;
		transform: translateY(-50%);

		.pop_close {
			padding: 0 0 20px;
			text-align: center;
			button {
				font-size: 1em;
				color: #fff;
			}
		}
		.pop_list {
			ul {
				display: flex;
				justify-content: center;
				gap: 0 10px;
			}
		}
		.pop_check {
			padding: 20px 0 0;
			text-align: center;
		}
	}
}

/********************************************
	헤더
********************************************/


/********************************************
	모바일 네비게이션
********************************************/




/********************************************
	인트로
********************************************/

/********************************************
	섹션 공통
********************************************/
.toggle_btn { 
	position: fixed;
	right: 20px;
	top: 20px;
	width: 100px;
	height: 36px;
	z-index: 999;

	button {
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #000;
		color: #fff;
		font-weight: 600;
		font-size: 14px;

		span { 
			display: none;
			.active & {
				display: block;
			}
		}
		strong { 
			display: block;
			.active & {
				display: none;
			}				
		}
	}
}
.section {
	position: relative;
}
.section_content {
	@include sectionArea;
}


/********************************************
	  섹션1 (vis) : fp-viewing-0 
********************************************/
.vis {
	height: 100vh;
	background-color: #f5f0e9;
  
	.pop_zone {
	  position: absolute;
	  left: 0;
	  top: 50%;
	  transform: translateY(-50%);
	  z-index: 2;
  
	  &::before {
		content: "";
		display: block;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 8px;
		height: 12px;
		background: url("/images/pop-arr.png") no-repeat 0 0;
		background-size: contain;
	  }
	}
  
	.motion_box {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  width: 930px;
	  height: 460px;
	  transform: translate(-50%, -50%);
  
	  .copy {
		color: #7a6e66;
		font-size: 26px;
		font-weight: 200;
		overflow: hidden;
		position: relative;
		perspective: 30vw;
  
		p {
		  text-align: center;
		  strong { font-weight: 900; }
		}
	  }
  
	  .typo {
		font-family: "Cinzel";
		font-weight: 600;
		color: #ccc4ba;
		z-index: 2;
		transition: 0.8s;
		transition-delay: 1.2s;
  
		&.typo1 {
		  width: 100%;
		  position: absolute;
		  left: 0;
		  top: 50%;
		  transform: translate(0, -50%);
  
		  // .active 클래스가 .typo1에 영향을 미칠 때
		  .active & {
			border: 1px solid red;
			transform: translate(0, -180%);
		  }
		}
  
		&.typo2 {
		  width: 100%;
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  transform: translate(0, -100%);
  
		  .active & {
			border: 1px solid blue;
			transform: translate(0, 0);
		  }
		}
  
		p {
		  text-align: center;
		  line-height: 1;
		  transition: 0.4s;
		  perspective: 500px;
		  opacity: 0;
  
		  .active & {
			opacity: 1;
			transition: 0.4s;
		  }
  
		  span {
			padding: 0 5px;
			font-size: 90px;
			display: inline-block;
			transition: 1s;
			transition-delay: 1s;
  
			&.t1 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.2s; }
			&.t2 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); transition-delay: 0.4s; }
			&.t3 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.3s; }
			&.t4 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); }
			&.t5 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.1s; }
			&.t6 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); transition-delay: 0.2s; }
			&.t7 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); }
			&.t8 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); transition-delay: 0.4s; }
			&.t9 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.2s; }
			&.t10 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.1s; }
			&.t11 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); transition-delay: 0.3s; }
			&.t12 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); }
			&.t13 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); transition-delay: 0.2s; }
			&.t14 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.1s; }
			&.t15 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); }
			&.t16 { transform: translate(0%, -60%) translate3d(0px, 0px, -40px) rotateY(180deg) scale(0, 0); transition-delay: 0.1s; }
			&.t17 { transform: translate(0%, 60%) translate3d(0px, 0px, -40px) rotateY(-180deg) scale(0, 0); transition-delay: 0.2s; }
  
			.active & {
			  transform: none;
			}
  
			&.t1,
			&.t4,
			&.t11 {
			  margin: 0 40px 0 0;
			}
		  }
		}
	  }
  
	  .show_box {
		position: absolute;
		left: 50%;
		top: 120px;
		transform: translate(-50%, 0);
		width: 900px;
		height: 300px;
		overflow: hidden;
  
		.bg {
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  background: #ebe4da url("/images/vis-bg.png") no-repeat 50% 50%;
		  background-size: cover;
		}
  
		.shadow_line {
		  position: absolute;
		  left: 0;
		  top: 70px;
		  width: 100%;
		  height: 271px;
		  background: url("/images/vis-line-shadow2.png") no-repeat 50% 0;
		  z-index: 99;
		}
  
		.line {
		  position: absolute;
		  left: 50%;
		  transform: translateX(-50%);
		  top: 70px;
		  width: 700px;
		  height: 271px;
		  z-index: 100;
  
		  .l1 {
			position: absolute;
			left: 0;
			top: 0;
		  }
  
		  .l2 {
			position: absolute;
			left: 0;
			top: 0;
		  }
		}
  
		.ball {
		  position: absolute;
		  left: 0;
		  top: 130px;
		  z-index: 101;
		}
	  }
	}
  }

/********************************************
	  섹션2 (loc_val) : fp-viewing-1 
********************************************/
.loc_val {


}
/********************************************
	  섹션3 (.story) : fp-viewing-2 
********************************************/
.story {

}

/********************************************
	  섹션4 (architecture) : fp-viewing-3 
********************************************/
.architecture {

}

/********************************************
	  섹션5 (salon) : fp-viewing-4 
********************************************/
.salon {

}
/********************************************
	  섹션6 (salon_sd) : fp-viewing-5 
********************************************/
.salon_sd {

}
/********************************************
	  섹션7 (vis) : fp-viewing-6
********************************************/
.cf {
	
}
/********************************************
	  섹션8 (gallery) : fp-viewing-7 
********************************************/
.gallery {
	font-size: 16px;
	padding: 30px;
	background-color: #f1eee9;

	.gallery_tit {
		margin: 0 0 50px;
		text-align: center;
		p {
			padding: 5px 0;
			display: inline-block;
			position: relative;
			overflow: hidden;

			span {
				display: inline-block;
				font-family: 'Cinzel';
				font-weight: 600;
				color: #231916;
				font-size: 0.9em;	
				padding: 0 0 10px;
				line-height: 1;	
				opacity: 0;
				transform: translate(0, 100%);
				transition: 0.8s;

				.active & {
					opacity: 1;
					transform: none;
					transition: 0.8s;
					transition-delay: 0.8s;
				}
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				height: 1px;
				background-color: #231916;
				opacity: 0;
				transition: 0.8s;

				.active & {
					opacity: 1;
					transition: 0.5s;
					transition-delay: 0.8s;
				}

			}

		}

	}
	.gallery_map {
		max-width: 1370px;
		margin: 0 auto;

		ul {
			display: flex;
			justify-content: space-between;
			gap: 0 50px;

			li { 
				width: 50%;
				
				&:nth-child(1) {

					.img {
						transition: 0.8s;
						opacity: 0;
						transform: translate(-10%, 0) scale(1.2);
						

						.active & {
							transition: 0.8s;
							opacity: 1;
							transform: none;
							transition-delay: 1.4s;
						}
					}
					.map_address {
						transition: 0.8s;
						opacity: 0;
						transform: translate(0,100%);
												

						.active & {							
							transition: 0.8s;							
							opacity: 1;
							transform: none;
							transition-delay: 2.0s;
						}
					}
					.map_link {
						opacity: 0;						
						transform: translate(0,100%);
						transition: 0.8s;						

						.active & {
							transition: 0.8s;							
							opacity: 1;
							transform: none;
							transition-delay: 2.2s;
						}					
					}
				}
				&:nth-child(2) {
					.img {
						transition: 0.8s;
						opacity: 0;
						transform: translate(10%, 0) scale(1.2);

						.active & {
							transition: 0.8s;
							opacity: 1;
							transform: none;	
							transition-delay: 1.6s;					
						}	
					}
					.map_address {
						opacity: 0;
						transform: translate(0,100%);
						transition: 0.8s;							

						.active & {							
							transition: 0.8s;							
							opacity: 1;
							transform: none;
							transition-delay: 2.4s;
						}
					}
					.map_link {
						transition: 0.8s;
						opacity: 0;						
						transform: translate(0,100%);

						.active & {
							transition: 0.8s;							
							opacity: 1;
							transform: none;
							transition-delay: 2.6s;
						}					
					}					
				}

				.img {	
					.map_img { width: 100%; border: 1px solid #000;}
				}

				dd {
					padding: 20px 0;
					display: flex;
					justify-content: center;
					gap: 50px;
					align-items: center;
					overflow: hidden;

					.map_address {
						span { font-weight: 600;}
						strong { font-weight: 800;}


					}
					.map_link {
						display: flex;
						justify-content: center;
						align-items: center;

						a { 
							display: inline-block;
							padding: 0 10px;
							display: flex;
							justify-content: center;
							align-items: center;	
							position: relative;						

							&:nth-child(2)::after {
								content: "";
								display: block;
								position: absolute;
								top: 0px;
								left: 0px;
								width: 1px;
								height: 100%;
								background: #000;
							}
						}
						.icon_map_link {
							width: 12px;
						}						
					}
				}
			
			}
		}

	}	

}
/********************************************
	  섹션9 (footer) : fp-viewing-8 
********************************************/
footer {
	position: relative;
	background-color: #211D1D;
	padding: min(calc(45/1300 * 100vw), 45px) min(calc(120/1920 * 100vw), 120px) min(calc(90/1024 * 100vw), 90px);
	font-size: clamp(10px, calc(100/640 * 100vw), 12px);
	
	.footer_inner  {
		position: relative;

		.go_top {
			position: absolute;
			top: 0;
			right: 0;
		}
		.footer_top {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			position: relative;
			border-bottom: 1px solid #383434;
			padding: clamp(40px, calc(85/1024 * 100vw), 85px) 0 clamp(20px, calc(45/1024 * 100vw), 45px);

			@media screen and (max-width: 1300px) {

				& { 
					align-items: flex-start;
					flex-direction: column; 
					gap: 10px 0;
				}			
			}

			.footer_logo { 
				width: clamp(220px, calc(292/1024 * 100vw), 292px);
				position: relative;
				img {  width: 100%; }
			}
			.corp {
				ul { 
					display: flex;
					justify-content: flex-end;
					align-items: center;
					gap: 0 15px;

					@media screen and (max-width: 960px) {

						& { 
							align-items: flex-start;
							flex-direction: column; 
							gap: 2px 0;
							padding: 20px 0 0;
						}
					
					}					

					span { color: #826d4c; font-size: 1em; }
					strong { color: #fff; font-size: 1.02em;}
				}

			}

		}
		.footer_content {
			.address {
				color: #7f7e7e;
				display: flex; 
				flex-direction: column;
				padding: 25px 0;
				gap: 5px 0;
				font-size: 0.9em;

			}
			.foot_summary {
				color: #555252;

				ul { 
					display: flex; 
					flex-direction: column;
					gap: 8px 0;

					li {
						text-indent: -15px;
						padding: 0 0 0 15px;
						font-size: 11px;
					}
				}
			}
		}
		.footer_util {
			padding: 35px 0 0;			
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			line-height: 1;

			@media screen and (max-width: 640px) {

				& { 
					flex-direction: column;
					align-items: center;
					gap: 15px 0;
				}

			}
			.copyright {
				p { 
					color: #fff; font-size: 0.9em; 
				}
			}
			.privacy {
				display: block;
				.btn_privacy {
					display: inline-block;
					background-color: #000;
					color: #777;
					padding: 10px 27px;
					line-height: 1;
					white-space: nowrap;
					font-size: 1em;
				}
			}
		}
	}
}
/********************************************
	풋터 > 개인정보 처리방침
********************************************/
.privacy_layer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.8;
	}

	.privacy_inner {
		position: absolute;
		width: min(90%, 1024px);
		height: 90%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		padding: 40px 0 0;
		font-size: 14px;

		.btn_layer_close {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			aspect-ratio: 1/1;
			a {
				display: inline-block;
				position: relative;
				width: 100%;
				height: 100%;
				&::after {
					font-family: "Linearicons-Free";
					content: "\e870";
					color: #fff;
					font-size: 30px;
				}
				span { display: none; }
			}
		}

		.privacy_content {			
			height: calc(100% - 30px);
			overflow-y: scroll;
			position: relative;
			background-color: #fff;
			padding: clamp(20px, calc(40/1024 * 100vw), 40px);

			legend {
				width: 100%;
				text-align: center;
				font-size: min(calc(20/1024 * 100vw), 20px);
				font-weight: 800;
				padding: 0 0 40px;
				position: relative;
				margin: 0 0 40px;

				&::after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0px;
					left: 50%;
					width: 1px;
					height: 25px;
					background: #000;
					transform: translateX(-50%);
				}

				br { display: none;
					@media screen and (max-width: 1024px) {
						& { display: block;}
					}
				}
			}

			.con_list {
				padding: min(calc(30/1024 * 100vw), 30px);
				background-color: #f7f7f7;
				border: 1px solid #ddd;
				ol { 
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					gap: 5px;

					li { width: calc(50% - 10px);}
				}
			}

			.privacy_summary {
				padding: 40px 0;
				border-bottom: 1px solid #826d4c;
			}
			.privacy_con {
				padding: 40px 0 0;
				
				h3 { padding: 0 0 10px;}
				h4 { padding: 10px 0;}
				p { padding: 5px 0;}

				.list {
					padding: 10px 0;
					> li { padding: 0 0 5px;}
					strong { display: block; padding: 10px 0;}
				}
				dl { 
					dt { padding: 10px 0; font-weight: 800;}
				}
				
				table {
					margin: 10px 0;
					width: 100%;
					border-top: 2px solid #826d4c;

					thead {
						th { 
							padding: 10px;
							color: #826d4c;
							border-bottom: 1px solid #826d4c;
						}
					}
					tbody {
						th {
							text-align: center;
							padding: 10px;
							border-bottom: 1px solid #ddd;
						}						
						td {
							text-align: center;
							padding: 10px;
							border-bottom: 1px solid #ddd;
						}
					}
				}
			}
		}
	}
}

